.button {
    display: block;
    background: var(--pallete-2);
    color: var(--title-color-alt);
    padding: 10px 40px;
    width: fit-content;
    border-radius: var(--box-border-radius);
}
.button.black {
    background: var(--title-color);
    color: var(--section-background);
}

.button.outlined {
    background: transparent;
    border: 1px solid var(--title-color-alt); 
    color: var(--title-color-alt);
}

.button.outlined.black {
    background: transparent;
    border: 1px solid var(--title-color);
    color: var(--title-color);
}