.blockLevel {
    background: var(--block-level-background);
    width: 100%;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.blockLevel .blockLevelTitle {
    flex: 1;
    display: grid;
    gap: 20px;
}
.blockLevel .blockLevelContent {
    flex: 3;
}

.blockLevel .blockLevelTitle h1 {
    font-size: 2.5em;
    line-height: 1;
    font-family: var(--title-font);
    color: var(--title-color-alt);
}

.blockLevel .blockLevelTitle p {
    font-size: 1.5em;
    font-family: var(--description-font);
    color: var(--description-color-alt);
}