.productBox {
  background: var(--section-background);
  padding: 10px;
  border-radius: var(--box-border-radius);
  /* flex-basis: calc(33.33% - 13.33px); */
}

.productBox .productImage img {
  width: 100%;
}

.productBox .productInfo {
  width: 100%;
  padding: 10px;
  display: grid;
  justify-items: center;
  gap: 10px;
}

.productFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
