@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Merriweather&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: var(--description-font);
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  padding-top: var(--nav-height);
  background-color: var(--background);
}

h1, h2, h3 {
  font-family: var(--title-font);
}
p {
  font-family: var(--description-font);
}

:root {
  --pallete-1: #23192d;
  --pallete-2: #fd0a54;
  --pallete-3: #f57576;
  --pallete-4: #febf97;
  --pallete-5: #f5ecb7;

  --section-background: white;
  --background: whitesmoke;

  --title-color: black;
  --description-color: rgb(100, 100, 100);

  --title-color-alt: white;
  --description-color-alt: whitesmoke;

  --title-font: "Merriweather";
  --description-font: "Inter";

  --nav-height: 80px;
  --window-height: calc(100vh - 80px);
}