.home {
  min-height: var(--window-height);
}

.main {
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 20px 30px;
}

.container {
  width: 100%;
  display: grid;
  justify-items: center;  
  padding: 20px 30px;
}

.home .content {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home .hero {
  width: 100%;
  padding: 20px 5vw;
  background: var(--pallete-2);
  border-radius: var(--box-border-radius);
  display: flex;
  align-items: center;
}

.home .hero .heroContent {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.home .hero h1 {
  color: var(--title-color-alt);
  line-height: 1;
  font-size: 3em;
}
.home .hero p {
  color: var(--description-color-alt);
}
